.card {
  border-radius: 0.7rem;
}

.tour-card {
  border-radius: 0.7rem;
  position: relative;
}

.tour-card img {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  z-index: 0;
}

.card-featured {
  position: absolute;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 0.5rem 0 0.5rem 0;
  width: fit-content;
  padding: 0.3rem 0.5rem;
  background-color: rgb(147, 237, 105);
}

.tour-card a {
  text-decoration: none;
  color: black;
}

.tour-title a {
  font-size: 1.1rem;
  font-weight: 700;
}

.tour-location {
  font-size: 0.85rem;
}

.tour-card-body {
  padding: 0.7rem 1.5rem 1rem 1.5rem;
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.card-top > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-card .bi-geo-alt {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.tour-rating {
  display: flex;
  align-items: center;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-bottom a {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.tour-rating {
  display: flex;
}
