footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20rem;
  background-color: #fbfbfb;
  color: gray;
  border-top: 1px solid rgb(218, 218, 218);
}

.footer-top > span {
  font-size: 1.1rem;
}

footer a,
footer span {
  font-size: 0.8rem;
  text-decoration: none;
  color: gray;
}

footer li {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  list-style: none;
}

footer li {
  margin-bottom: 0.5rem;
}

footer li i {
  margin-right: 0.3rem;
  font-size: 1rem;
}

footer li:first-of-type {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

footer ul {
  text-align: center;
}

footer img {
  height: 2.3rem;
  opacity: 50%;
}

footer p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icons i {
  color: gray;
  font-size: 1.3rem;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
}

.footer-middle .col:last-of-type ul {
  /* display: flex; */
  text-align: left;
}

.footer-bottom {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  background-color: #fbfbfb;
  padding: 1rem;
}

@media (max-width: 850px) {
  .column-list,
  .footer-top span:first-of-type {
    display: none;
  }

  .footer-icons {
    margin: auto;
  }
}
